article{
	border-style: outset;
	margin-bottom: 10px;
	width: 750px;
}
body{
	margin-left: 100px;
	margin-right: 50px;
	font-family: Dawning of a New Day;
}

h2{
	font-family: Permanent Marker;
}

img{
	height: 200px;
	width: 200px;
}

.column1{
	display: inline-block;
	}

.column2{
	display: inline-block;
}

.article-name{
	margin-bottom: 0;
}
.article-date{
	margin-top: 0;
}

.rotate90{
	transform: rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */
}

.rotate-90{
	transform: rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}