article{
	border-style: outset;
	margin-bottom: 10px;
	width: 750px;
}
body{
	margin-left: 100px;
	margin-right: 50px;
	font-family: Dawning of a New Day;
}

h2{
	font-family: Permanent Marker;
}

img{
	height: 200px;
	width: 200px;
}

.column1{
	display: inline-block;
	}

.column2{
	display: inline-block;
}

.article-name{
	margin-bottom: 0;
}
.article-date{
	margin-top: 0;
}

.image{
	image-orientation:90deg;
}