body
{
	background-color: e6e6e6;
	font-family: 'Josefin Sans', 'sans-serif';
}

button{
	display: block;
	margin-bottom: 10px;
}

img {
	border-radius: 25px;
}

.container-fluid{
	text-align: center;
}

