body
{
	background-color: e6e6e6;
	font-family: sans-serif;
}

#name
{
	font-family: tahoma;
	text-align: center;
}

img {
	border-radius: 25px;
	display: inline-block;
 
}

.headshot{
	float: left;
	margin-left: 50px;
}

.about-me{
	float: right;
	width: 50%
}

#nav{
	text-align: center;
	background: #CDC5BF;
	}

#nav li{
	display: inline-block;
	padding: 10px;
}



