body{
	color: orange;
}

alt{
	color: blue;
}

button{
	background-color: blue;
	border-radius: 10%;
}

.empty-row{
	height:25px;
}

figure{
	text-align: center;
	/*background-color: #444444;*/
}

.jumbotron-text{
	text-align: center;
}

.cuisine-img{/*need to figure out how to keep the image within the three columns*/
	max-width: 100%;
	height: 300px;
	width: 300px;
}

.fig-img{
	border-style: ridge;
	color: black;
}

h1{
	text-align: center;
}

.next-button{
	align-content: center;
	margin: 20px;
}

.question{
	text-align: center;
}