body{
	color: orange;
	font-family: 'Patrick Hand';
}

alt{
	color: blue;
}

button{
	background-color: blue;
	border-radius: 10%;
}

.empty-row{
	height:25px;
}

figure{
	text-align: center;
	/*background-color: #444444;*/
}

figcaption{
	font-size: 2em;
}

.fig-img{
	/*border-style: groove;*/
	color: black;
}

.jumbotron-text{
	text-align: center;
}

.cuisine-img{/*need to figure out how to keep the image within the three columns*/
	max-width: 100%;
	min-height: 300px;
}

.cuisine-container{
	padding: 20px;
}

h1{
	text-align: center;
}

.home-buttons{
	margin: 20%;
}

.intro{
	background-color: #EEE;
	text-align: center;
}

.intro p{
	font-size: 0.5em;
	margin-left: 20%;
	margin-right: 20%
}

.intro-text{
	color: white;
	font-weight: bold;
	padding: 15%;
}

.intro-text p{
	font-size: 1.25em;
	}

.introduction{
	background-image: url("///Users/sarathi/SINY/nyssri.github.io/food-kitchen.jpg");
	background-image: url("https://raw.github.com/nyssri/nyssri.github.io/master/food-kitchen.jpg");
	background-size: cover;
	background-position: center;
	min-height: 450px;
/*	max-height: 660px;*/
	text-align: center;
}

li{
	padding: 2em;
}

nav li{
	display: inline-block;

}

.next-button{
	align-content: center;
	margin: 20px;
}

.num-container{
	
}

.ppl-form{
	margin:0 auto; /*need to set the width before margin: 0 auto will do anything;*/
	width: 200px;
}

.question{
	text-align: center;
}


