body{
	color: orange;
}

alt{
	color: blue;
}

button{
	background-color: blue;
	border-radius: 10%;
}

figure{
	text-align: center;
	/*background-color: #444444;*/
}

.cuisine-img{/*need to figure out how to keep the image within the three columns*/
	max-width: 100%;
}

.question{
	text-align: center;
}