*{
	margin:0;
	padding:0;
}
body {
	font-family: tahoma;
	max-width: 750px;
	margin-left: 20px;
}
#nav{
	/*width: 800px;*/
	background:red;
	display:block;
}
#nav li{
	display: inline-block;
}
#amma{
	background-color: orange;
}
#amma h1 {
	text-align: center;
}

article {
	clear: both;
	min-height: 150px;
	margin-bottom: 20px;
}
#mains{
	margin: 0 auto;
	max-width: 750px;

}
.image{
	float:left;
	/*background-color: gray;*/
	padding-right: 10px;
	/*margin-left: 10px;*/
	width: 20%;
	height: 150px;
	box-sizing: border-box;
}

.description{
	float: left;
	width: 80%;
	/*margin-left: 10px;*/
}



