body {
	font-family: tahoma;
}

#nav{
	position: fixed;
}

#menu li{
	display: inline;
}

h1 {
	text-align: center;
}

.description{
	float: right;
	width: 50%;
}

.images{
	float: left;
	width: 50%;
}

img {
	width: 150px;
	height: 150px;
}